include README.rst LICENSE AUTHORS.rst CHANGELOG pyproject.toml
recursive-include tests *
include requirements.txt tox.ini
include freezegun/py.typed
recursive-include freezegun *.pyi
global-exclude __pycache__
global-exclude *.py[co]
